@import url('https://fonts.googleapis.com/csly=Nunito&display=swap');
/* Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: "Nunito",sans-serif;
    min-height: 100vh;
}