@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: "Roboto",sans-serif;
    padding: 20px;
}

.container{
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid #000;
    display: flex; 
    gap: 1rem;
    justify-content: center; /* it will add space between elements */
    align-items: center; 
   /*  flex-direction: row-reverse; */
    /*flex-wrap: wrap;  this will rap the container accoding to the web page */
    align-content: space-evenly;
    flex-flow: row wrap; /* this is used as combine for flex-direction and flex-wrap */
}

.box{
    /* min-width: 100px; */
    height: 100px;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
     
    display: flex;
    justify-content:center;
    align-items: center;

    flex-grow: 1; /* this grow to cover the page */
    flex-basis: 100px;
    
}

.box:nth-child(2) {
    flex: 2 2 150px;
    
}