@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

main {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

div {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  display: grid;
  place-content: center;
}

/* transform help to move the element in X, Y, and Z axis */

div:first-child{
  background-color: dodgerblue;
 /*  transform: translateX(50%) */
 /* transform: rotateX(180deg); */
 /* transform: scaleX(130%); */
 /* transform: skewX(-10deg); */ /* it make the elemete more like italic */
}
div:nth-child(2){
  background-color: yellow;
 /*  transform: translateY(-40%); */
 /* transform: rotateY(49deg); */
 /* transform: scaleY(130%); */
/*  transform: skewY(-10deg); */
}
div:nth-child(3){
  background-color: limegreen;
 /*  transform: translate(100%, -2rem);  */
 /* transform: rotate(67deg); */
 /* transform: scale(50%, 50%); */
/*  transform: skew(-10deg, -10deg); */
}

/* Transition is use to make a transition on element just like we use in ppt or in video */

div:hover{
  background-color: midnightblue;
  transition-property: background-color transform;
  transition-duration: 2s ;
  transition-delay: 0.1s;
  transition-timing-function: ease; /* it will start the animeaion slow then faster it then again get slow at the end */
}

div:last-child:hover{
  transform: rotate(180deg);
}

.animate{
  animation-name: slide;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: 5;
}

@keyframes slide {
  0%{ /* this mean at the begging of the animation */
    transform: translateX(0);
  }

  30%{
    transform: translateX(600px) rotate(180deg);
  }

  60%{
    transform: translateX(-600px) rotate(-180deg);
  }

  100%{
    transform: translateX(0);
    background-color: rebeccapurple;
  }
}