@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none; /* this will remove the underline from the links  */
    cursor: pointer; /* this is for the pointer hand which we see when we hover on a links */
    color: #000;
}

/* this are called as pseudo classes */

/* a:visited{
    color: purple; /* when we click on a link and comeback to it. it will show as on purple color 
} */
a:hover{
    color: dodgerblue;
}

a:active{
    color: red;
}