@import url('https://fonts.googleapis.com/csly=Nunito&display=swap');
/* Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variaable*/
:root{
    /* Font */
    --FF:"Nunito",sans-serif;
    --FS:1.5rem;
    --FS-XL:3rem;
    /* Color*/
    --BGCOLOR: steelblue;   /* there are in capital just to show there varibale */
    --ALT-BGCOLOR:rgb(10, 34, 85);
}

body{
    font: var(--FF) var(--FS);
    min-height: 100vh;
    background-color: var(--BGCOLOR);
    background-image: radial-gradient(whitesmoke, steelblue);
    display: flex;
    flex-direction: column;
}

/* Media Queries
    it is used to make the webpage responsive it will help the webpage to change the page stuctur as per the device size
    
    Syntex
    @media media type and (condition: breakpoint){
        //CSS Rule
    }
*/

header, nav, main, footer{
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header, footer{
    position: sticky;
    background-color: var(--ALT-BGCOLOR);
    color: whitesmoke;
}
header{
    top: 0;
}

nav{
    background-color: #fff;
    color: black;
    padding: 0.5rem;
    border-bottom: 2px solid rgb(5, 23, 56);
}

main{
    flex-grow: 1;
}

footer{
    bottom: 0;
}

/*For Small Devies*/
@media screen and (min-width: 567px) {
    body{
        background-color: green;
        background-image: radial-gradient(white, green);
    }
    nav{
        display: none;
    }
}

/* For Media */
@media screen and (min-width: 768px) {
    body{
        background-color: gold;
        background-image: radial-gradient(white, gold);
    }
}

/* For Large */
@media screen and (min-width: 992px) {
    body{
        background-color: red;
        background-image: radial-gradient(white, red);
    }
}

/* For XL */
@media screen and (min-width: 1200px) {
    body{
        background-color: rebeccapurple;
        background-image: radial-gradient(white, rebeccapurple);
    }
}
/* For mobile devies landscape */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    body{
        background-color: magenta;
        background-image: radial-gradient(white, magenta);
    }

    h1, h2 {
        font-size: 1.5rem;
    }
    nav{ display: none;}
}