html{
    font-size: 18px;
}

body{
    background-color: #333;
    color: whitesmoke;
}

a{
    color:aliceblue;
}
a:visited{
    color: lightgreen;
}
a:hover, a:active{
    color: yellow;
}

table, tr, td, th, caption{
    border: 1px solid #eee;
    font-family:'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}