@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

/* CSS Reset */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;/* this two will make responsive image */ 
}

input, button, textarea{
    font: inherit; /* this will not inherit the font as other content in the page */
}

/* Variables */

:root{
    /* FONT */
    --FF: "Nunito", sans-serif;
    --FF-HEADINGS: "Fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    /* COLOR */
    --BGCOLOR: orange;
    --BGCOLOR-FADE: rgb(252, 220, 160);
    --BGIMAGE: linear-gradient(to bottom, var(var(--BGCOLOR), var(var(--BGCOLOR-FADE))));
    --BODY-BGCOLOR:#FFF;
    --FONT-COLOR:#000;
}

/* UTILITY Classes */
.offscreen{
    position: absolute;
    left: -10000px;
}

.nowrap{
    white-space: nowrap;
}

.center{
    text-align: center;
}